*{
    background-color: #222;
    color: #fff;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.banner{
    background-image: url(https://occ-0-2086-2186.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABdYkHwZZYZ4cYPZ20OWPg4dml1YWoI5TnX0ALc_4rHEkyvokTlifJKLD2U_ypf2wNi9Jc6Jigr53o-0syqQFrB0TLUIk1A-k1U3z.jpg?r=720);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 730px;
}
.posters
{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 3% 1%;
}
.posters::-webkit-scrollbar
{
display: none;
}
.poster{
    margin: 0% 0.5%;
    border-radius: 3px;
}
h1{
    color: #fff;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1;
    margin: 2px 4px;
    padding: 2px;   
}
